//- Also update blender_fund_main/templates/email/membership_deactivated.txt
| {% extends "email_layout.html" %}
| {% block body %}
p Dear {{ customer.full_name|default:user.email }},

p Your Blender Fund membership was deactivated.

p You can always go to #[a(href='{{ link }}') {{ link }}] and reactivate your membership.
| {% endblock %}
