//- Also update blender_fund_main/templates/email/payment_failed.txt
| {% extends "email_layout.html" %}
| {% block body %}
p Dear {{ customer.full_name|default:email }},

p.
	Automatic payment of your Blender Development Fund membership failed. We have tried
	{{ order.collection_attempts }} times, but none of those attempts was succesful. As
	a result, we have suspended your membership for now.

p The error we received from the payment provider was: {{ failure_message }}.

p To resume your membership, please visit #[a(href='{{ pay_url }}') {{ pay_url }}]
| {% endblock %}
