
{% load wagtailcore_tags %}
{% load navigation_tags %}
<nav class="navbar navbar-default navbar-secondary" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav mr-auto">
      <li class="{% if page.slug == 'home' %}active{% endif %}"><a href="{% slugurl 'home' %}">Home</a></li>{# main_menu is defined in blender_fund_main/templatetags/navigation_tags.py #}
      {% get_site_root as site_root %}
      {% top_menu parent=site_root calling_page=self %}
      <li>{% if user.is_authenticated %}<a href="{% url 'settings_home' %}">My Account</a>{% else %}<a href="{% url 'oauth:login' %}">Login</a>{% endif %}</li>{% if user.is_staff %}
      <li><a href="{% url 'admin:index' %}">🚀 Whoosh!</a></li>{% endif %}
      {% if user.is_authenticated %}
      <li>{% if 'loginas_from_user' in request.session %}<a href="{% url 'loginas-logout' %}"><i class="fa fa-power-off"></i>  Switch back</a>{% else %}<a href="{% url 'oauth:logout' %}"><i class="fa fa-power-off"></i>  Log out</a>{% endif %}</li>{% endif %}
    </ul>
  </div>
</nav>