| {% extends "checkout/checkout_base.html" %}

| {% block after_header %}
p.
	To see your payment options, please sign in with your Blender ID account. If you don't
	have such an account, you can register for free.
p(style='margin-top: 1cm; text-align: right')
	a.btn.btn-success(href="{{ settings.LOGIN_URL }}") Sign in/up with Blender ID

| {% endblock %}
