//- Membership credit, as shown on the front page.
| {% if membership.url %}
a(href="{{ membership.url }}",
	target="_blank",
	title="{{ membership.display_name|default:'anonymous' }}")
	| {% if membership.logo %}
	img(src="{{ membership.logo.url }}",
			alt="{{ membership.display_name|default:'-anonymous-' }}")
	| {% else %}
	span.name(title="{{ membership.display_name|default:'anonymous' }}")
		| {{ membership.display_name|default:'-anonymous-' }}
	| {% endif %}
| {% elif membership.logo %}
img(src="{{ membership.logo.url }}",
		alt="{{ membership.display_name|default:'-anonymous-' }}")
| {% else %}
span.name(title="{{ membership.display_name|default:'anonymous' }}")
	| {{ membership.display_name|default:'anonymous' }}
| {% endif %}
