| {% load navigation_tags wagtailcore_tags %}
| {% for menuitem in menuitems %}
li.nav-item(class="nav-item {{ menuitem.title|lower|cut:' ' }}{% if menuitem.is_active %} active{% endif %}{% if menuitem.show_dropdown %} dropdown{% endif %}")
	a.nav-link(href='{% pageurl menuitem %}') {{ menuitem.title }}
| {% endfor %}
