| {% load wagtailcore_tags %}
| {% load navigation_tags %}
nav.navbar.navbar-default.navbar-secondary(role='navigation')
	.container
		ul.nav.navbar-nav.mr-auto
			li(class="{% if page.slug == 'home' %}active{% endif %}")
				a(href="{% slugurl 'home' %}") Home
			| {# main_menu is defined in blender_fund_main/templatetags/navigation_tags.py #}
			| {% get_site_root as site_root %}
			| {% top_menu parent=site_root calling_page=self %}
			li
				| {% if user.is_authenticated %}
				a(href="{% url 'settings_home' %}")
					| My Account
				| {% else %}
				a(href="{% url 'oauth:login' %}") Login
				| {% endif %}
			| {% if user.is_staff %}
			li
				a(href="{% url 'admin:index' %}")
					| 🚀 Whoosh!
			| {% endif %}
			| {% if user.is_authenticated %}
			li
				| {% if 'loginas_from_user' in request.session %}
				a(href="{% url 'loginas-logout' %}")
					| #[i.fa.fa-power-off]  Switch back
				| {% else %}
				a(href="{% url 'oauth:logout' %}")
					| #[i.fa.fa-power-off]  Log out
				| {% endif %}
			| {% endif %}
