doctype html
head
	meta(charset='utf-8')
	title Development Fund - blender.org

	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='author', content='Blender Foundation')
	meta(name='theme-color', content='#ed8f31')

	| {% load wagtailcore_tags %}
	| {% load wagtailimages_tags %}
	| {% image page.social_media_image max-1920x1080 as social_media_image %}

	- var page_title = "Blender Development Fund";
	- var page_description = "Join the Development Fund and support Blender Foundation to work on core Blender development.";

	meta(name="description", content=page_description)
	meta(property="og:site_name", content=page_title)
	meta(property="og:title", content=page_title)
	meta(property="og:description", content=page_description)
	meta(property="og:url", content="https://fund.blender.org/")
	meta(name="twitter:card", content="summary_large_image")
	meta(name="twitter:site", content="@blender_org")
	meta(name="twitter:title", content=page_title)
	meta(name="twitter:description", content=page_description)

	| {% if social_media_image %}
	meta(name="twitter:image", content="{{ page.get_site.root_url }}{{ social_media_image.url }}")
	meta(property="og:image", content="{{ page.get_site.root_url }}{{ social_media_image.url }}")
	| {% else %}
	meta(name="twitter:image", content="https://www.blender.org/wp-content/themes/bthree/assets/images/placeholder_background.jpg")
	meta(property="og:image", content="https://www.blender.org/wp-content/themes/bthree/assets/images/placeholder_background.jpg")
	| {% endif %}

	| {% load static %}
	script(src="{% static 'js/vendor/jquery.min.js' %}")
	script(src="{% static 'js/vendor/js.cookie.js' %}")
	script(src="{% static 'js/generated/tutti.min.js' %}")
	script(src="{% static 'js/vendor/bootstrap.bundle.min.js' %}")

	link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", type="text/css", media="screen")
	link(rel='stylesheet', href="{% static 'css/main.css' %}", type='text/css', media='screen')
	link(rel="icon", href="{% static 'images/favicon.ico' %}")

	| {% if settings.GOOGLE_ANALYTICS_TRACKING_ID %}
	script(async, src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_TRACKING_ID }}")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag() {dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{ settings.GOOGLE_ANALYTICS_TRACKING_ID }}');
	| {% endif %}

	| {% block head %}{% endblock %}

	noscript
		//- Make fade elements visible even if js is disabled
		style(type="text/css").
			.js-fades {opacity: 1 !important; visibility: visible !important}

body.page-devfund(class="{{ page_id }}")
	| {% block body %}
	#isolated
	.notice-wrapper
		| {% if messages %}
		| {% for message in messages %}
		.show.notice.error.notice-error
			span.notice-message {{ message }}
		| {% endfor %}
		| {% endif %}
	.container-main
		a(name="hop")

		| {% block navigation_header %}
		| {% include "_navbar.html" %}
		| {% endblock navigation_header %}

		| {% block page_header %}
		.featured.nav-hidden
			.container
				.featured-content
					h1 Blender Development Fund

			.featured-overlay(style='background-image: none; background-color: #0a0a0a;opacity: 0.3;')

		| {% block nav_secondary %}
		| {% include "blender_fund/_navbar_secondary.html" %}
		| {% endblock nav_secondary %}

		| {% block navbar_tertiary %}{% endblock navbar_tertiary %}

		| {% endblock page_header %}

		| {% block content %}{% endblock content %}

	| {% block footer %}
	| {% include "_footer.html" %}
	| {% endblock footer %}

	| {% endblock body %}

	| {% block footer_scripts %}{% endblock footer_scripts %}
