
{% load navigation_tags wagtailcore_tags %}
{% for menuitem in menuitems %}
<li class="nav-item nav-item {{ menuitem.title|lower|cut:' ' }}{% if menuitem.is_active %} active{% endif %}{% if menuitem.show_dropdown %} dropdown{% endif %}"><a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>{% endfor %}