
{% extends "admin/change_form.html" %}
{% block extrahead %}
<style>
  .warning {
  	border: thin solid #79aec8;
  	background-color: #e2f4fc;
  	padding: 1mm 3mm;
  	border-radius: 1mm;
  	max-width: 20cm;
  }
</style>{% endblock %}
{% block field_sets %}
{% if add %}
<div class="warning">
  <p>Note that it is currently <strong>only possible to create Managed memberships</strong> with this
    form. To create a manually (by the devfund member) or automatically renewed membership,
    <a href="{% url 'admin:looper_subscription_add' %}">add a subscription</a> instead.
  </p>
  <p>The <strong>subscription parameters</strong> are used to time the notifications to the Manager
    (read: Ton).
  </p>
  <p>The <strong>User field</strong> indicates the owning user. This either should be the user to
    receive the membership badge, or the system user (user id 1). Place the company name in
    the <strong>Display Name field</strong>.
  </p>
</div>{% endif %}
{{ block.super }}
{% endblock %}