| {% extends "blender_fund/layout.html" %}

| {% block content %}
.container.pb-3
	.row
		.col-md-8.col-md-offset-2
			.box.p-4
				h2.mt-0 Internal Server Error

				p
					| There was an error handling your request. The error has
					| been logged and we'll try and fix it as soon as possible.

				p
					| If the error keeps occurring, please contact
					| #[a(href='mailto:{{ settings.ADMIN_MAIL }}') {{ settings.ADMIN_MAIL }}].

				hr

				h3 Technical details

				p
					small
						| The exception was of type #[code {{ ex_type }}] and said
						| #[code {{ ex_value }}].

| {% endblock %}
