
{% extends "settings/membership_base.html" %}
{% block after_membership_info %}
<h2>Cancellation</h2>
<p>Are you sure you want to cancel your Blender Development Fund membership?</p>{% if subscription.status == 'active' and subscription.next_payment_in_future %}
<p>
  Your membership will remain active until {{ subscription.next_payment|date }}, since you have
  paid for your membership until then.
</p>{% endif %}
<form class="form" method="post">
  {% csrf_token %}
  {{ form.as_ul }}
  <hr/><a class="btn" href="{% url 'settings_membership_edit' membership_id=membership.id %}"><span>← Keep Membership and Go Back</span></a>
  <button class="btn-danger form-submit" id="submit-button" type="submit"><span>Confirm Cancellation of Membership</span></button>
</form>{% endblock after_membership_info %}