
{% extends "settings/base.html" %}
{% block content_settings %}
<h2 class="mt-2 text-secondary">Payment Methods</h2>
<form method="post">{% csrf_token %}
  <p>Are you sure you want to delete payment method "{{ object }}"?</p>
  <p class="pt-3">
    <input class="btn btn-filled-danger px-5" type="submit" value="Confirm Deletion"/><a class="pl-3" href="{% url 'looper:payment_methods' %}">Cancel</a>
  </p>
</form>{% endblock content_settings %}