| {% extends "settings/base.html" %}

| {% block content_settings %}
| {{ block.super }}
h2.mt-2.text-secondary Billing Address
form#billing-address-form.p-3(method='post')

	ul.form
		| {% csrf_token %}
		| {{ form.as_ul }}

	hr

	button#submit-billing-info.btn.btn-success.px-5.mt-3(type='submit')
		i.fa.fa-check
		| Save Changes

| {% endblock content_settings %}
