| {% extends "settings/membership_base.html" %}
| {% block after_membership_info %}
h2 Extend your Membership

p.
	Your current membership does not allow flexible extension. If you think this is a mistake,
	please #[a(href="mailto:{{ ADMIN_MAIL }}") contact us].

| {% endblock after_membership_info %}
