| {% extends "settings/base.html" %}
| {% load humanize %}
| {% load wagtailcore_tags %}

| {% block content_settings %}
| {{ block.super }}
h2.mt-2.text-secondary Memberships

| {% if memberships %}
table.table.table-striped.m-3
	| {% regroup memberships by status as memb_by_status %}
	| {% for status, membs in memb_by_status %}
	tr.status-header(class="membership-{{ status }}")
		th(colspan="3")
			h4.m-0 {{ status.title }}
	| {% for m in membs %}
	tr(class="membership-{{ status }}")
		td
			a(href="{% url 'settings_membership_edit' m.id %}") {{ m.level }}
		td
			a.text-muted(href="{% url 'settings_membership_edit' m.id %}") {{ m.display_name }}
		td
			a.text-muted(href="{% url 'settings_membership_edit' m.id %}") {{ m.created_at | naturaltime }}
	| {% endfor %}
	| {% endfor %}
| {% else %}

.pt-2
	p You do not have a Blender Development Fund membership yet.
	p
		a.btn.btn-filled-success.px-5(href="{% slugurl 'home' %}#join")
			i.fa.fa-heart
			| Subscribe Now
| {% endif %}
| {% endblock content_settings %}
