| {% extends "settings/base.html" %}
| {% load humanize %}

| {% block content_settings %}
| {{ block.super }}

h2.mt-2.text-secondary
	| Membership
	| {% if user.is_staff and perms.blender_fund_main.change_membership %}
	a(href="{% url 'admin:blender_fund_main_membership_change' object_id=membership.pk %}")
		| (edit)
	| {% endif %}

.row
	div(class="{% if membership.level.badge %}col-md-9{% else %}col-md-12{% endif %}")
		p.lead.
			Your #[strong {{ membership.level.name }}] membership started	#[abbr(title="{{ membership.created_at }}") {{ membership.created_at | naturaltime }}]
			and is currently {{ membership.status }}.

	| {% if membership.level.badge %}
	.col-md-3
		img.img-responsive(src="{{ membership.level.badge.url }}")
	| {% endif %}

| {% block after_membership_info %}{% endblock %}

| {% endblock content_settings %}
