| {% extends "settings/base.html" %}

| {% block head %}
style.
	td.actions a {
		padding: 1mm 2mm;
	}
| {% endblock %}

| {% block content_settings %}
h2.mt-2.text-secondary Payment Methods

p.pb-3.
	Here you can replace and delete payment methods. You can add a new one while replacing an old
	one, or while paying for something.

table.table.table-striped.box.m-3
	tbody
		| {% for payment_method in object_list %}
		| {% with payment_method.gateway_properties as pm_props %}

		tr
			| {% if pm_props is None %}
			td.
				Invalid payment method; just delete this one. This can happen when
				the payment method was deleted at the payment service provider.
			| {% else %}
			td
				img.img-responsive(src="{{ pm_props.image_url }}")
			| {% if payment_method.method_type == 'cc' %}
			td {{ pm_props.card_type }}
			td Ending with #[strong {{ pm_props.last_4 }}]
			td Expires #[strong {{ pm_props.expiration_date }}]
			| {% elif payment_method.method_type == 'paypal_account'%}
			td(colspan="3") With email #[strong {{ pm_props.email }}]
			| {% else %}
			td(colspan="3") {{ pm_props.recognisable_name }}
			| {% endif %}
			| {% endif %}
			td.actions
				a(href="{% url 'looper:payment_method_replace' pk=payment_method.pk %}") Replace
				a.text-danger(href="{% url 'looper:payment_method_delete' pk=payment_method.pk %}") Remove
		| {% endwith %}
		| {% endfor %}

| {% endblock content_settings %}
