| {% extends "settings/base.html" %}

| {% block content_settings %}
h2.mt-2.text-secondary Personal Information

form#customer-form.p-3(method='post')

	ul.form
		| {% csrf_token %}
		| {{ form.as_ul }}

	hr

	button#submit-customer.btn.btn-success.px-5.mt-3(type='submit')
		i.fa.fa-check
		| Save Changes
| {% endblock content_settings %}
