| {% extends "settings/base.html" %}

| {% block content_settings %}
| {{ block.super }}
h2.mt-2.text-secondary Receipts

| {% if orders %}
table.table.table-striped.m-3
	thead
		tr
			th Receipt ID
			th
			th Amount Paid
			th Paid At
			th
	tbody
		| {% for o in orders %}
		tr
			td {{ o.id }}
			td {{ o.name }}
			td.text-right {{ o.price.with_currency_symbol_nonocents }}
			td {{ o.paid_at|date|default:'unknown' }}
			td
				a(href="{% url 'settings_receipt' order_id=o.pk %}") View&nbsp;Receipt
				br
				a(href="{% url 'settings_receipt_pdf' order_id=o.pk %}") Download&nbsp;PDF
				| {% if can_woosh %}
				br
				a.px-3(href="{% url 'admin:looper_order_change' object_id=o.pk %}") 🚀
				| {% endif %}
		| {% endfor %}
| {% else %}
p.
	You have no receipts.
| {% endif %}
| {% endblock content_settings %}
