
<div class="footer-navigation pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-6"><a class="sitemap-title pb-2" href="https://www.blender.org/download/">Blender</a>
        <ul>
          <li><a href="https://www.blender.org/download/" title="Download Blender">Download</a></li>
          <li><a href="https://www.blender.org/features/" title="Blender Features">Features</a></li>
          <li><a href="https://developer.blender.org/diffusion/B/" title="Source Code">Source</a></li>
          <li><a href="https://www.blender.org/about/license/" title="License">License</a></li>
          <li><a href="https://www.blender.org/about/logo/" title="Logo &amp; Trademark">Logo & Trademark</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-6"><a class="sitemap-title pb-2" href="https://www.blender.org/foundation/">Organization</a>
        <ul>
          <li><a href="https://www.blender.org/foundation/" title="Blender Foundation">Foundation</a></li>
          <li><a href="https://www.blender.org/institute/" title="Blender Institute">Institute</a></li>
          <li><a href="https://blender.studio/" title="Blender Studio">Studio</a></li>
          <li><a href="https://www.blendernetwork.org" title="The Network of Blender Professionals">Blender Network</a></li>
          <li><a href="https://www.blender.org/conference/" title="Conference">Blender Conference</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-6"><a class="sitemap-title pb-2" href="https://www.blender.org/get-involved/">Get Involved</a>
        <ul>
          <li><a href="https://www.blender.org/foundation/donation-payment/" title="Donate">Donate</a></li>
          <li><a href="https://www.blender.org/get-involved/developers/" title="Development">Development</a></li>
          <li><a href="https://www.blender.org/get-involved/documenters/" title="Documentation">Documentation</a></li>
          <li><a href="https://www.blender.org/get-involved/" title="Education">Education</a></li>
          <li><a href="https://www.blender.org/certification/" title="Certification">Certification</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-6"><a class="sitemap-title pb-2" href="https://www.blender.org/community/">Support</a>
        <ul>
          <li><a href="https://www.blender.org/community/" title="Community">Community</a></li>
          <li><a href="https://docs.blender.org/manual/en/dev/" title="Manual">Manual</a></li>
          <li><a href="https://www.blender.org/support/tutorials/" title="Tutorials">Tutorials</a></li>
          <li><a href="https://docs.blender.org/api/current/" title="Python API">Python API</a></li>
          <li><a href="https://devtalk.blender.org/" title="Developers Forum">Developers Forum</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-6"><a class="sitemap-title pb-2" href="https://www.blender.org/about/website/">blender.org</a>
        <ul>
          <li><a href="https://www.blender.org/news/" title="News">News</a></li>
          <li><a href="https://www.blender.org/jobs/" title="Jobs">Jobs<span class="new">NEW</span></a></li>
          <li><a href="https://www.blender.org/about/website/" title="Website">Website</a></li>
          <li><a href="https://www.blender.org/foundation/" title="Contact">Contact</a></li>
          <li><a href="https://opendata.blender.org/" title="Open Data">Open Data</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-6"><a class="sitemap-title pb-2" href="https://twitter.com/blender_org">Follow Blender</a>
        <div class="social-icons"><a class="social-icons__youtube" href="https://youtube.com/BlenderFoundation" title="Blender's Official YouTube channel" target="_blank"><i>
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
                <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
              </svg></i></a><a class="social-icons__twitter" href="https://twitter.com/blender_org" title="Follow Blender on Twitter" target="_blank"><i>
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
              </svg></i></a><a class="social-icons__instagram" href="https://instagram.com/blender.official/" title="Follow Blender on Instagram" target="_blank"><i>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M256,49.471c67.266,0,75.233.257,101.8,1.469,24.562,1.121,37.9,5.224,46.778,8.674a78.052,78.052,0,0,1,28.966,18.845,78.052,78.052,0,0,1,18.845,28.966c3.45,8.877,7.554,22.216,8.674,46.778,1.212,26.565,1.469,34.532,1.469,101.8s-0.257,75.233-1.469,101.8c-1.121,24.562-5.225,37.9-8.674,46.778a83.427,83.427,0,0,1-47.811,47.811c-8.877,3.45-22.216,7.554-46.778,8.674-26.56,1.212-34.527,1.469-101.8,1.469s-75.237-.257-101.8-1.469c-24.562-1.121-37.9-5.225-46.778-8.674a78.051,78.051,0,0,1-28.966-18.845,78.053,78.053,0,0,1-18.845-28.966c-3.45-8.877-7.554-22.216-8.674-46.778-1.212-26.564-1.469-34.532-1.469-101.8s0.257-75.233,1.469-101.8c1.121-24.562,5.224-37.9,8.674-46.778A78.052,78.052,0,0,1,78.458,78.458a78.053,78.053,0,0,1,28.966-18.845c8.877-3.45,22.216-7.554,46.778-8.674,26.565-1.212,34.532-1.469,101.8-1.469m0-45.391c-68.418,0-77,.29-103.866,1.516-26.815,1.224-45.127,5.482-61.151,11.71a123.488,123.488,0,0,0-44.62,29.057A123.488,123.488,0,0,0,17.3,90.982C11.077,107.007,6.819,125.319,5.6,152.134,4.369,179,4.079,187.582,4.079,256S4.369,333,5.6,359.866c1.224,26.815,5.482,45.127,11.71,61.151a123.489,123.489,0,0,0,29.057,44.62,123.486,123.486,0,0,0,44.62,29.057c16.025,6.228,34.337,10.486,61.151,11.71,26.87,1.226,35.449,1.516,103.866,1.516s77-.29,103.866-1.516c26.815-1.224,45.127-5.482,61.151-11.71a128.817,128.817,0,0,0,73.677-73.677c6.228-16.025,10.486-34.337,11.71-61.151,1.226-26.87,1.516-35.449,1.516-103.866s-0.29-77-1.516-103.866c-1.224-26.815-5.482-45.127-11.71-61.151a123.486,123.486,0,0,0-29.057-44.62A123.487,123.487,0,0,0,421.018,17.3C404.993,11.077,386.681,6.819,359.866,5.6,333,4.369,324.418,4.079,256,4.079h0Z"></path>
                <path d="M256,126.635A129.365,129.365,0,1,0,385.365,256,129.365,129.365,0,0,0,256,126.635Zm0,213.338A83.973,83.973,0,1,1,339.974,256,83.974,83.974,0,0,1,256,339.973Z"></path>
                <circle cx="390.476" cy="121.524" r="30.23"></circle>
              </svg></i></a><a class="social-icons__facebook" href="https://www.facebook.com/YourOwn3DSoftware/" title="Follow Blender on Facebook" target="_blank"><i>
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"></path>
              </svg></i></a><a class="social-icons__linkedin" href="https://www.linkedin.com/company/blender-org/" title="Follow Blender on LinkdIn" target="_blank"><i>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"></path>
              </svg></i></a></div>
        <hr class="mb-0"/><a class="sitemap-title mt-0 py-2" href="https://code.blender.org">Development News</a>
        <div class="social-icons"><a class="social-icons__youtube" href="https://youtube.com/BlenderDevelopers" title="Official YouTube channel for Blender development news" target="_blank"><i>
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
                <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
              </svg></i></a><a class="social-icons__twitter" href="https://twitter.com/BlenderDev" title="Follow Blender Developers on Twitter" target="_blank"><i>
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
              </svg></i></a><a class="social-icons__facebook" href="https://www.facebook.com/BlenderDevelopers/" title="Follow Blender Developers on Facebook" target="_blank"><i>
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"></path>
              </svg></i></a></div>
      </div>
    </div>
  </div>
</div>
<footer class="footer-note">Artistic freedom starts with Blender<i>
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
      <path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path>
    </svg></i><span>The Free and Open Source 3D Creation Suite</span>
  <div id="hop" title="Be awesome in space">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
      <path d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path>
    </svg>
  </div>
  <script>
    var hop = document.getElementById("hop");
    hop.onclick = function(e){ window.scrollTo(0, 0);}
    window.addEventListener("scroll", function(){if(window.pageYOffset > 250){document.body.classList.add("is-scrolled")}else{document.body.classList.remove("is-scrolled")}});
  </script>
</footer>