
{% extends "blender_fund/empty_page.html" %}
{% block head %}
<style>
  .notes {
      margin-top: 4em;
      margin-left: auto;
      margin-right: auto;
      width: 30em;
      color: #ddd;
      font-size: smaller;
  }
</style>{% endblock %}
{% block content %}
<div class="checkout-yay-bg py-5 checkout-container">
  <div class="container text-center py-5">
    <h1 class="thanks">Thank you {{ user.customer.full_name }}! <i class="fa fa-heart text-danger pl-3"></i></h1>
    <div class="lead pt-4">You are now a <strong>{{ order.subscription.plan }}</strong> member of the Blender Development Fund</div>
    <div class="checkout-yay py-3">{% with membership=order.subscription.membership %}<a class="plan" href="{% url 'settings_membership_edit' membership_id=membership.pk %}" title="Manage your memberships">{% if membership.level.badge %}<img class="img-responsive" src="{{ membership.level.badge.url }}" alt="{{ order.subscription.plan }}"/>{% else %}<span>
          <h1>{{ order.subscription.plan }}</h1></span>{% endif %}</a><a class="d-block pt-5" href="{% url 'settings_membership_edit' membership_id=membership.pk %}" title="Manage your memberships">Manage your membership<i class="fa fa-angle-right pl-2"></i></a>{% if membership.level.bid_badge_name %}
      <div class="notes">
        <p>You can view your badge in your <a href="{{ settings.BLENDER_ID.BASE_URL }}">Blender ID Profile</a>.
          For your badge to show up on other websites may take some time (less than a day), and may require you to log in at that site again.
        </p>
      </div>{% endif %}
      {% endwith %}
      <canvas class="fireworks"></canvas>
      <div class="background">
        <div class="stars small"></div>
        <div class="stars medium"></div>
        <div class="stars big"></div>
      </div>
    </div>
  </div>
</div>{% endblock %}
{% block footer_scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
<script>
  window.human = false;
  
  var canvasEl = document.querySelector('.fireworks');
  var ctx = canvasEl.getContext('2d');
  var numberOfParticules = 50;
  var colors = ['#FFBA08', '#08a7FF', '#FFFFFF'];
  
  function setCanvasSize() {
    canvasEl.width = window.innerWidth;
    canvasEl.height = window.innerHeight;
    canvasEl.style.width = window.innerWidth + 'px';
    canvasEl.style.height = window.innerHeight + 'px';
  }
  
  function setParticuleDirection(p) {
    var angle = anime.random(0, 360) * Math.PI / 180;
    var value = anime.random(50, 180);
    var radius = [-1, 1][anime.random(0, 1)] * value;
    return {
      x: p.x + radius * Math.cos(angle),
      y: p.y + radius * Math.sin(angle)
    }
  }
  
  function createParticule(x,y) {
    var p = {};
    p.x = x;
    p.y = y;
    p.color = colors[anime.random(0, colors.length - 1)];
    p.radius = anime.random(4, 16);
    p.endPos = setParticuleDirection(p);
    p.draw = function() {
      ctx.beginPath();
      ctx.arc(p.x, p.y, p.radius, 0, 2 * Math.PI, true);
      ctx.fillStyle = p.color;
      ctx.fill();
    }
    return p;
  }
  
  function renderParticule(anim) {
    for (var i = 0; i < anim.animatables.length; i++) {
      anim.animatables[i].target.draw();
    }
  }
  
  function animateParticules(x, y) {
    var particules = [];
    for (var i = 0; i < numberOfParticules; i++) {
      particules.push(createParticule(x, y));
    }
    anime.timeline().add({
      targets: particules,
      x: function(p) { return p.endPos.x; },
      y: function(p) { return p.endPos.y; },
      radius: 0,
      duration: anime.random(1200, 6400),
      easing: 'easeOutExpo',
      update: renderParticule
    });
  }
  
  var render = anime({
    duration: Infinity,
    update: function() {
      ctx.clearRect(0, 0, canvasEl.width, canvasEl.height);
    }
  });
  
  var centerX = canvasEl.width / 2;
  var centerY = canvasEl.height / 2;
  
  var centerYPadding = window.innerHeight / 4;
  
  function autoClick() {
    animateParticules(
      anime.random(0, window.innerWidth),
      anime.random(50, window.innerHeight / 3)
    );
    anime({duration: 1200}).finished.then(autoClick);
  }
  
  autoClick();
  setCanvasSize();
  window.addEventListener('resize', setCanvasSize, false);
</script>{% endblock footer_scripts %}