
{% extends "checkout/checkout_base.html" %}
{% load looper %}
{% block head %}
{% load static %}
<script src="{% static 'js/vendor/select2.min.js' %}"></script>{% endblock %}
{% block after_header %}
<form class="checkout-form pt-3" id="payment-form" method="post">{% csrf_token %}
  <section class="checkout-form-fields">
    <ul class="form">{{ form.as_ul }}</ul>
    <div id="gateway-errors"></div>
  </section>
  <hr/>
  <button class="btn btn-filled-success w-100" id="submit_button" type="submit"><i class="fa fa-check"></i>Subscribe</button>
</form>{% endblock %}
{% block footer_scripts %}
<script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
<script>
  let client_token = '{{ client_token }}';
  
  $("div[data-gateway-name='braintree']").braintree_gateway_group(
  	'#submit_button', '#gateway-errors',
  	'#id_payment_method_nonce', client_token);
  
  //- Initialize the nicer country picker.
  $('#id_country').select2();
  
  //- Append the '.field-more-fields' button after the Full Name.
  $('.field-full_name').append('\
  	<small class="field-more-fields js-show-full-form" title="You can set your billing information later">\
  		Billing Address <i class="fa fa-angle-down"></i> \
  	</small>');
  
  //- Display all fields.
  $('body').on('click', '.js-show-full-form', function(){
  	$(this).toggleClass('active');
  	let fieldsToShow = 'li.field-region, li.field-locality, li.field-company, li.field-country, li.field-postal_code, li.field-billing_email, li.field-street_address';
  	$(fieldsToShow).toggleClass('show');
  });
  
  //- Append the '.field-more-billing_address' button to the street_address field.
  $('.field-street_address').append('\
  	<div class="field-more-billing_address js-show-extended_address" title="Toggle extended address">\
  		<i class="fa fa-plus"></i>\
  	</div>');
  
  //- Display extended address field.
  $('body').on('click', '.js-show-extended_address', function(){
  	$(this).toggleClass('active');
  	$('li.field-extended_address').toggleClass('show');
  });
</script>{% endblock %}