| {% extends "loginas/change_form.html" %}
| {% load i18n %}

| {% block object-tools-items %}
| {{ block.super }}
li
	| {% if original.oauth_info.oauth_user_id %}
	a(href="https://www.blender.org/id/admin/bid_main/user/{{ original.oauth_info.oauth_user_id }}/change/",target='_blank')
		| {% trans "Show in Blender ID" %}</a>
	| {% else %}
	a(href="https://www.blender.org/id/admin/bid_main/user/?email__exact={{ original.email|urlencode }}",target='_blank')
		| {% trans "Find in Blender ID" %}</a>
	| {% endif %}
| {% endblock %}
