.sidebar
	&-nav // sidebar-nav
		> ul
			list-style-type: none

			+media-xs
				margin-bottom: 10px

			> li
				background-color: white
				position: relative
				box-shadow: inset 0 -1px 0 rgba(black, .1)

				&:first-child
					border-top-left-radius: 3px
					border-top-right-radius: 3px

				&:last-child
					border-bottom-left-radius: 3px
					border-bottom-right-radius: 3px

				&:after
					display: none

				&.active
					box-shadow: inset 0 -1px 0 rgba(black, .1),  inset 3px 0 0 $color-primary

				&:hover
					a
						color: $color-primary

				a
					color: $color-text
					display: block
					padding: 10px 15px

					i
						padding-right: 10px
