.blender-notes
    float: right
    max-width: 220px
    margin-left: 15px
    background-color: #f8f8f8
    border: thin solid #ddd
    padding: 3px

    & input[type="text"],
    & input[type="password"],
    & input[type="email"],
    & input[type="url"],
    & input[type="number"],
    & input[type="tel"],
    & textarea,
    & select,
    & .vTextField
        max-width: 200px

    & .note
        border-bottom: thin solid #ddd
    & .author
        font-size: smaller
        color: #888

    & form.delete input[type='submit']
        background-color: #ba2121
        float: right
        padding: 1px 3px
