/* Bootstrap overrides. */
$font-size-base: .9rem

@import '../blender-web-assets/styles/main.sass'

@import memberships
@import checkout
@import sidebar
@import settings
@import form
@import braintree
@import progress_bar
@import stats
@import plugin_select2


h2
	font-size: 28px

h3
	line-height: 30px

.rich-text
	font-size: 1.15em


// Make embeds responsive https://github.com/wagtail/wagtail/issues/1495
.rich-text img
	max-width: 100%
	height: auto

.responsive-object
	position: relative
	iframe, object, embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

// Fix for BT error message
.bg-danger
	background-color: #f2dede !important

.section-title
	display: block
	text-align: center

	.text-gradient
		background: linear-gradient(to left, hsl(hue(orange), 70%, 70%) 40%, hsl(hue(pink), 100%, 50%) 60%)
		background-color: hsl(hue(cyan), 100%, 30%)
		background-clip: text
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		font-weight: lighter
		margin: 50px auto 0
		position: relative
		width: 100%

		&:first-child
			margin-top: 0

		&:before, &:after
			background: linear-gradient(to right, transparent, violet)
			content: ''
			display: block
			height: 2px
			position: absolute
			top: 15px
			width: 25%
			opacity: .5
			border-radius: 999em

			+media-xs
				display: none

		&:after
			background: linear-gradient(to left, transparent, violet)
			right: 0

.featured
	background-image: url('https://www.blender.org/wp-content/themes/bthree/assets/images/placeholder_background_small.jpg')

	&.large
		// Overriding _featured.sass
		background-position: center
		text-align: left

		+media-xs
			height: auto

		// Overriding _featured.sass
		.featured-content
			margin: auto auto auto 0
			width: auto

		h1
			font-weight: 300
			font-size: 4em
			margin-bottom: 5px

			+media-xs
				font-size: 2.5em

		.featured-subtitle
			font-size: 1.6em
			padding-left: 0

			+media-xs
				font-size: 1.5em
				margin-bottom: 40px

	.navbar-secondary
		ul.nav
			+media-xs
				flex-direction: row
				margin-top: 25px

			li
				+media-xs
					flex: 1
					min-width: 33.33%
					white-space: nowrap

table > tbody > tr > td
	vertical-align: middle !important

.box-shadow-subtle
	box-shadow: 1px 1px 2px rgba(black, .1)

.bg-corporate
	background-color: hsl(188, 91%, 38%)

.bg-individual
	background-color: hsl(188, 91%, 48%)

.progress-legend
	width: 10px
	height: 10px

/* Utility for flipping elements horizontally. */
.transform-flip-h
	transform: scaleX(-1)

.separator-slanted
	&:after
		content: ''
		left: 0
		right: 0
		bottom: -50px
		height: 0
		position: absolute
		border-top: 50px solid $primary
		border-right: 97vw solid $color-primary-dark
